<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-wrapper">
    <form>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button (click)="login()">Log in</ion-button>
    </form>
  </div>
</ion-content>
