<app-navbar [pageName]="'Movies'"></app-navbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies; let i = index">
      <ion-label>
        {{i + 1}}
      </ion-label>
      <ion-label>
        title: {{movie.title}}
      </ion-label>
      <ion-label>
        description: {{movie.description}}
      </ion-label>
      <ion-label>
        genre: {{movie.genre}}
      </ion-label>
      <ion-label>
        director: {{movie.director}}
      </ion-label>
      <ion-label>
        rating: {{movie.rating}}
      </ion-label>

      <button ion-button icon-only (click)="deleteMovie(movie)">
        <ion-icon name="trash-outline"></ion-icon>
      </button>

    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="goToAddMovie()">Add movie</ion-button>
</ion-footer>
